<div class="main-container">
    <div class="row">
        <div *ngIf="project" class="col-lg-5 col-md-8 col-sm-12 col-xs-12 grande" >
            <div class="card">
                <div class="card-header" *ngIf="project.creator">
                    Creator {{ project.creator.username }}
                    <div *ngIf="project.pic" class="card-text">
                        <img [src]="project.pic" alt="" srcset="">
                    </div>
                </div>
                <div class="card-header">
                    {{ project.title }}
                </div>
                <div class="card-block">
                    <div class="card-title">
                        <p>{{project.description}}</p>
                    </div>
                    <div class="card-text" *ngFor="let project of project.approved">
                        {{project.username}}
                    </div>
                </div>
                <div *ngIf="showbutton" class="card-footer">
                    <button class="btn btn-primary-sm" (click)="apply()">apply</button>
                </div>
                <a [routerLink]="['/profile', project._id]"> <button class="btn btn-primary-sm"  >go to profile</button></a>
            </div>
        </div>
    </div>



</div>
<a [routerLink]="['/home']">Home</a>