img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
 
    
}
.card-header{
    display: flex;
    flex-direction: row 
}

.card-text{
    display: flex;
    text-align: right;
    text-align-last: center;
    margin-left: 194px;
    
   
    
}
.grande{
    margin:0 auto
}
.card{
    width: 500px;
}
button{
    margin-left: 10px
}