<div class="main-container">
    <header class="header header-6">
        <div class="buscador">
            <input type="text" [(ngModel)]="buscar" (ngModelChange)="buscador(buscar)">
            <i class="fas fa-search"></i>

        </div>
        <div *ngIf="session.user">
            <i class="fas fa-user-alt"></i> {{session.user.username}}</div>
    </header>
    <div  class="container">
        <button *ngIf="session.user" class="btn btn-outline">
            <a [routerLink]="['/petitions']">petitions</a>
        </button>
        <div *ngIf="session.user">
            <button class="btn btn-outline">
                <a [routerLink]="['new']">Create a new project</a>
            </button>
            <br>



            <br>
        </div>


        <div class="general">
            <div>
                <h1>All Projects</h1>
                <div class="main-container" class="projectList col-md-6 left" *ngFor="let projectItem of searchedProjects">
                    <div class="row">
                        <div *ngIf="project">
                            <div class="card">
                                <div class="card-header">
                                    {{ projectItem.title }}
                                </div>
                                <div class="card-block">
                                    <div class="card-title">
                                        <p>{{ projectItem.description }}</p>
                                    </div>
                                    <div class="card-text">
                                        {{ projectItem.profile[0]}}
                                    </div>
                                    <a href="home/{{projectItem._id}}">go to project</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="userProjects">
                <h1>My Projects</h1>
                <div *ngFor="let up of userProjects" class="col-md-6 right">
                    <div *ngIf="project">
                        <div class="card">
                            <div class="card-header">
                                {{ up.title }}
                            </div>
                            <div class="card-block">
                                <div class="card-title">
                                    <p>{{ up.description }}</p>
                                </div>
                                <div class="card-text">
                                    {{ up.profile}}
                                </div>
                                <a href="home/{{up._id}}">go to project</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

